<div class="container mt-3">
    <div class="card">
        <div class="card-header text-center">
            <img src="assets/images/icons/person.svg" alt="cliente">
            <h1>Cadastro de clientes</h1>
        </div>
        <form method="post">
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Nome *</label>
                    <input type="text" name="name" class="form-control" id="name">
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="cpf">CPF *</label>
                        <input type="text" name="cpf" class="form-control" id="cpf">
                    </div>
                    <div class="col-6">
                        <label for="rg">RG *</label>
                        <input type="text" name="rg" class="form-control" id="rg">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label for="birthdate">Data de Nascimento *</label>
                        <input type="date" name="birthdate" class="form-control" id="birthdate">
                    </div>
                    <div class="col-6">
                        <label for="phone">Telefone *</label>
                        <input type="text" name="phone" class="form-control" id="phone">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-10">
                        <label for="street">Rua *</label>
                        <input type="text" name="street" class="form-control" id="street">
                    </div>
                    <div class="col-2">
                        <label for="number_address">Número *</label>
                        <input type="text" name="number_address" class="form-control" id="number_address">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label for="zip_code">Cep *</label>
                        <input type="text" name="zip_code" class="form-control" id="zip_code">
                    </div>
                    <div class="col-3">
                        <label for="neighborhood">Bairro *</label>
                        <input type="text" name="neighborhood" class="form-control" id="neighborhood">
                    </div>
                    <div class="col-3">
                        <label for="neighborhood">Cidade *</label>
                        <input type="text" name="city" class="form-control" id="city">
                    </div>
                    <div class="col-3">
                        <label for="complement">Complemento *</label>
                        <input type="text" name="complement" class="form-control" id="complement">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail *</label>
                    <input type="email" name="email" class="form-control" id="email">
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">
                    Cadastrar
                </button>
                <button class="btn btn-secondary ms-2" type="reset">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
</div>